$background: #FAFAFA;
$primary: #FDBABA;
$surface: #3E2266;
$surfaceAlt: #6DB1BF;
$surfaceAltDark: #2e7280;
$onPrimary: #3E2266;
$onSurface: white;
$onPrimaryAlt: #6DB1BF;
$greyInfos: #9a9fa3;
$greyInfosDark: #333435;
$error: red;

* {
    font-family: Poppins;
}

p {
    color: $onPrimary;
}

.centerDivCustom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileCard {
    width: 35vw;
    height: auto;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .carouselDiv {
        height: 55vh;
        width: 35vw;
    }

    .mainDivProfil {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        #nameAge {
            font-size: 1.3rem;
            font-weight: 600;
            margin-top: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 15px;
            width: auto;
            background-color: $surface;
            color: $onSurface;
            text-align: center;
            margin: 1rem 0;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem 1rem;
        }
    }

    #biography {
        width: 60%;
        color: $onPrimary;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0.5rem;
        overflow-wrap: break-word;
    }

    #detailsDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;

        p {
            font-size: 0.9rem;
            font-weight: 500;
            margin-top: 0.5rem;
            padding: 0.5rem;
            border-radius: 15px;
            width: auto;
            background-color: $surfaceAlt;
            color: $onSurface;
            text-align: center;
            margin: 0.5rem 0;
        }
    }

    .tagsDiv {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        .tagsAvailable {
            display: flex;
            justify-content: center;
            align-content: stretch;

            span {
                background-color: $surface;
                font-size: 0.9rem;
                border-radius: 15px;
            }
        }
    }

    .fameRatingDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        margin-bottom: 10px;

        p {
            font-size: 0.9rem;
            font-weight: 500;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 15px;
            width: auto;
            background-color: $surfaceAlt;
            color: $onSurface;
            text-align: center;
        }
    }

    .blockAndReportDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            background-color: $greyInfos;
            color: $greyInfosDark;
            font-weight: 500;
            padding: 0.5rem 1rem;
        }
    }

    .viewsLikesListsButtonDiv {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;

        button {
            background-color: $surface;
            color: $onSurface;
            font-weight: 500;
            padding: 0.5rem 1rem;
        }
    }

    .profilStatus {
        background-color: $surface;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;

        @media only screen and (max-width: 1250px) and (min-width: 1000px){
            flex-direction: column;
        }

        @media only screen and (max-width: 450px) {
            flex-direction: column;
        }

        p {
            color: $onSurface;
            text-align: center;
            font-weight: 500;
            margin-bottom: 0;
        }

        .firstDivStatus {
            display: flex;
            justify-content: center;
            align-items: center;
            
            .onlineStatus {
                background-color: #4caf50;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 5px;
            }
        
            .offlineStatus {
                background-color: #de2020;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    } 
}

.listCard {
    width: 70vw;
    height: auto;
    max-height: 500px;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    margin-top: 2rem;
    background-color: $primary;
    display: flex;
    flex-direction: column;

    .listCardHeader {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            margin: 0;
        }

        button {
            background: none;
        }
    }

    .listCardList {
        height: auto;
        overflow: scroll;
        overflow-x: hidden;

        mat-list-item {
            background-color: $surface;
            border-radius: 20px;
        }

        span {
            color: $onSurface;
        }
    }
}

.errorCard {
    width: 80vw;
    height: auto;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    margin-top: 2rem;
    background-color: $primary;
    display: flex;

    p {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.loadingCard {
    width: 80vw;
    height: auto;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary;
    margin-top: 2rem;

    p {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 2rem 0;
    }
}

@media (max-width: 1024px) {
    .profileCard {
        width: 60vw;
        height: auto;

        .carouselDiv {
            height: 60vh;
            width: 60vw;
        }

        .mainDivProfil {
            #nameAge {
                font-size: 1.2rem;
                margin: 0.5rem;
            }

            button {
                padding: 0.4rem 0.8rem;
            }
        }

        #biography {
            font-size: 1rem;
            margin-top: 0.3rem;
        }

        #detailsDiv {
            p {
                font-size: 0.9rem;
                margin: 0.3rem;
                padding: 0.3rem;
            }
        }

        .tagsDiv {
            .tagsAvailable {
                span {
                    font-size: 0.9rem;
                    margin: 0.1rem;
                }
            }
        }

        .fameRatingDiv {
            p {
                font-size: 0.9rem;
                margin: 0.3rem;
                padding: 0.3rem;
            }
        }

        .blockAndReportDiv {
            button {
                padding: 0.4rem 0.8rem;
            }
        }

        .viewsLikesListsButtonDiv {
            button {
                padding: 0.4rem 0.8rem;
            }
        }
    }

    .listCard {
        .listCardHeader {
            p {
                font-size: 1.2rem;
                margin: 0.3rem;
            }
        }

        .listCardList {
            mat-list-item {
                span {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .errorCard,
    .loadingCard {
        p {
            font-size: 1.2rem;
            margin: 1rem 0;
        }
    }
}

@media (max-width: 760px) {
    .profileCard {
        width: 95vw;
        height: auto;

        .carouselDiv {
            height: 60vh;
            width: 95vw;
        }

        .mainDivProfil {
            #nameAge {
                font-size: 1.2rem;
                margin: 0.5rem;
            }

            button {
                padding: 0.4rem 0.8rem;
            }
        }

        #biography {
            font-size: 1rem;
            margin-top: 0.3rem;
        }

        #detailsDiv {
            p {
                font-size: 0.9rem;
                margin: 0.3rem;
                padding: 0.3rem;
            }
        }

        .tagsDiv {
            .tagsAvailable {
                span {
                    font-size: 0.9rem;
                    margin: 0.1rem;
                }
            }
        }

        .fameRatingDiv {
            p {
                font-size: 0.9rem;
                margin: 0.3rem;
                padding: 0.3rem;
            }
        }

        .blockAndReportDiv {
            button {
                padding: 0.4rem 0.8rem;
            }
        }

        .viewsLikesListsButtonDiv {
            button {
                padding: 0.4rem 0.8rem;
            }
        }
    }

    .listCard {
        .listCardHeader {
            p {
                font-size: 1.2rem;
                margin: 0.3rem;
            }
        }

        .listCardList {
            mat-list-item {
                span {
                    font-size: 0.9rem;
                }
            }
        }
    }

    .errorCard,
    .loadingCard {
        p {
            font-size: 1.2rem;
            margin: 1rem 0;
        }
    }
}