@import '../app.component.scss';

app-profil {
    height: 100%;
}

.centerDivCustom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profileCard {
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 0.5rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .dropdownDiv {
        margin-top: 1.5rem;
        width: 550px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dropdownList {
            width: 150px;

            mat-label {
                color: $surface;
                font-size: 1.2rem;
                font-weight: 500;
            }

            mat-select {
                color: $surface;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }

    .carouselDiv {
        height: 600px;
        width: 600px;
    }

    .mainDivProfil {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #nameAge {
            font-size: 1.5rem;
            font-weight: 600;
            margin-top: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            border-radius: 15px;
            width: auto;
            background-color: $surface;
            color: $onSurface;
            text-align: center;
            margin-left: 2rem;
            margin-right: 2rem;
        }

        button {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    #detailsDiv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 550px;

        p {
            font-size: 1.0rem;
            font-weight: 500;
            margin-top: 0.2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 0.2rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-radius: 15px;
            width: auto;
            background-color: $surfaceAlt;
            color: $onSurface;
            text-align: center;
        }
    }

    .tagsDiv {
        width: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;

        .tagsAvailable {

            span {
                background-color: $surfaceAltDark;
            }
        }
    }

    .homeButtonAction {
        width: 550px;
        display: flex;
        justify-content: space-between;

        button {
            border-radius: 15px;
            background-color: $surfaceAlt;
            color: $onSurface;
            font-size: 1.5rem;
            font-weight: 600;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            transition: all 0.3s ease-in-out;
        }

        button:hover {
            transform: scale(1.1);
        }

        p {
            font-size: 1.0rem;
            font-weight: 500;
            margin-top: 0.5rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-radius: 15px;
            width: auto;
            background-color: $surfaceAlt;
            color: $onSurface;
            text-align: center;
        }
    }
}

.errorCard {
    width: 300px;
    height: 100px;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    margin-top: 2rem;
    background-color: $primary;
    display: flex;

    p {
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 100px;
        font-size: 2rem;
        font-weight: 700;
    }
}

.loadingCard {
    width: 500px;
    height: 100px;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary;
    margin-top: 2rem;

    p {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
    }
}

.notConnectedCard {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(70, 70, 70, 0.12), -1px -1px 50px rgba(70, 70, 70, 0.12);
    margin-top: 2rem;
    background-color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        text-align: center;
        line-height: 100px;
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (max-width: 1024px) {
    .profileCard {
        .dropdownDiv {
            width: 90%;
        }

        .carouselDiv {
            height: 450px;
            width: 450px;
        }

        .mainDivProfil {
            #nameAge {
                font-size: 1.3rem;
            }
        }

        #detailsDiv {
            width: 90%;

            p {
                font-size: 0.9rem;
            }
        }

        .tagsDiv {
            width: 90%;

            .tagsAvailable {
                span {
                    font-size: 0.9rem;
                }
            }
        }

        .homeButtonAction {
            width: 90%;

            button {
                font-size: 1.2rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }

            p {
                font-size: 0.9rem;
            }
        }
    }
}

@media (max-width: 786px) {
    .profileCard {
        width: 90vw;
        height: auto;

        .dropdownDiv {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .carouselDiv {
            height: 60vh;
            width: 90vw;
        }

        .mainDivProfil {
            #nameAge {
                font-size: 1.2rem;
            }
        }

        #detailsDiv {
            width: 80%;

            p {
                font-size: 0.8rem;
            }
        }

        .tagsDiv {
            width: 80%;

            .tagsAvailable {
                span {
                    font-size: 0.8rem;
                }
            }
        }

        .homeButtonAction {
            button {
                font-size: 1.0rem;
                padding-top: 0.8rem;
                padding-bottom: 0.8rem;
                padding-left: 0.8rem;
                padding-right: 0.8rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }
}