<mat-toolbar id="nav-bar">
  <img src="../../assets/logo.png" alt="Logo" [routerLink]="['']">

  <div class="desktop">
    <div id="navBar_logPart">
      <div *ngIf="!isLoggedIn">
        <button mat-button class="primaryButton" [routerLink]="['auth/register']">Sign up</button>
        <button mat-button class="secondaryButton" [routerLink]="['auth/login']">Log in</button>
      </div>
      <div *ngIf="isLoggedIn">
        <button mat-button class="primaryButton" [routerLink]="['search']">Search</button>
        <button mat-button class="primaryButton" [routerLink]="['chat']">Chat</button>
        <button mat-button class="primaryButton" [routerLink]="['profile/' + username]">Profile</button>
        <button mat-button class="primaryButton" [routerLink]="['settings']">Settings</button>
        <button mat-button [matMenuTriggerFor]="menu" [disabled]="!notificationCount">
          <mat-icon>notifications</mat-icon>
          <mat-badge [matBadge]="notificationCount" matBadgeColor="warn" matBadgeSize="small"></mat-badge>
        </button>
        <mat-menu class="menu" #menu="matMenu">
          <div *ngFor="let notification of notifications">
            <mat-card class="notification-card">
              <mat-card-content>
                <p>{{ notification.message }} <strong>{{notification.strong}}</strong></p>
              </mat-card-content>
              <mat-card-actions>
                <div class="buttons">
                  <button mat-button (click)="notificationsService.removeNotification(notification)">Delete</button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-menu>
        <button mat-button class="secondaryButton" (click)="logOut()">Log out</button>
      </div>
    </div>
  </div>
  <div class="mobile">
    <button mat-button *ngIf="isLoggedIn" class="menu-burger-login" (click)="sideNavToggle()">
      <mat-icon>menu</mat-icon>
      <mat-badge [matBadge]="notificationCount" matBadgeColor="warn" matBadgeSize="small"></mat-badge>
    </button>
    <button mat-button *ngIf="!isLoggedIn" class="menu-burger" (click)="sideNavToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="overlay" *ngIf="sideNavOpened" (click)="sideNavToggle()"></div>
<div class="sidenav-container" [@slideInOut]="sideNavOpened" *ngIf="sideNavOpened">
  <mat-nav-list>
    <div *ngIf="!isLoggedIn">
      <a mat-list-item [routerLink]="['auth/register']">Sign up</a>
      <a mat-list-item [routerLink]="['auth/login']">Log in</a>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-list-item class="secondaryButton" [routerLink]="['search']">Search</a>
      <a mat-list-item class="secondaryButton" [routerLink]="['chat']">Chat</a>
      <a mat-list-item class="secondaryButton" [routerLink]="['profile/' + username]">Profile</a>
      <a mat-list-item class="secondaryButton" [routerLink]="['settings']">Settings</a>
      <button mat-list-item [matMenuTriggerFor]="menu" [disabled]="!notificationCount">
        <mat-icon>notifications</mat-icon>
        <mat-badge [matBadge]="notificationCount" matBadgeColor="warn" matBadgeSize="small"></mat-badge>
      </button>
      <mat-menu class="menu" #menu="matMenu">
        <div *ngFor="let notification of notifications">
          <mat-card class="notification-card">
            <mat-card-content>
              <p>{{ notification.message }} <strong>{{notification.strong}}</strong></p>
            </mat-card-content>
            <mat-card-actions>
              <div class="buttons">
                <button mat-button (click)="notificationsService.removeNotification(notification)">Delete</button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </mat-menu>
      <a mat-list-item class="secondaryButton" (click)="logOut()">Log out</a>
    </div>
  </mat-nav-list>
</div>