@import '../app.component.scss';

#nav-bar {
    height: 8.5vh;
    width: 100%;
    background-color: $primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: relative;

    img {
        width: 300px;
        cursor: pointer;
    }

    button {
        border-radius: 8px;
        // margin-left: 1.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.0rem;
        margin-right: 1.0rem;
    }

    .primaryButton {
        background-color: $onPrimaryAlt;
        color: white;
    }

    .secondaryButton {
        background-color: $onPrimary;
        color: white;
    }

    .menu {
        position: absolute !important;
    }

    .notification-card {
        margin: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }

    @media only screen and (max-width: 1100px) {
        .desktop {
            display: none;
        }

        button {
            margin-right: 0.5rem;
        }

        .mobile {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            .mennu-burger {
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
            }
        }
    }

    @media only screen and (min-width: 1100px) {
        .mobile {
            display: none;
        }

        img {
            width: 250px;
            cursor: pointer;
        }

        button {
            margin-right: 1.5rem;
        }

        .desktop {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        img {
            width: 250px;
            cursor: pointer;
        }
    }

    @media only screen and (max-width: 300px) {
        img {
            width: 150px;
            cursor: pointer;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: block;
}

.sidenav-container {
    height: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    will-change: left;
    width: fit-content;
    background-color: white;
}

::ng-deep .mat-mdc-menu-panel {
    max-height: 35vh !important;
}

::ng-deep .mat-mdc-list-item {
    border: none !important;
}