<div class="centerDiv">
    <div class="formCard">
        <p class="title">{{title}}</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" *ngIf="!sent">
            <mat-form-field class="form-field" hideRequiredMarker>
                <mat-label>Email</mat-label>
                <input matInput id="email" formControlName="email" required email>
            </mat-form-field>
            <button type="submit" [disabled]="resetForm.invalid" mat-raised-button>{{textButton}}</button>
        </form>
    </div>
</div>